#schedule {
  gap: 16px;
}

.day-card {
  padding-left: 16px;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
}

.day-card .header {
  cursor: pointer;
}

.day-card h2 {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}

.content {
  text-align: center;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  flex-grow: 1;
}
