@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(105, 181, 187, 0.212);
}

::-webkit-scrollbar-thumb {
  background: rgb(9, 85, 172);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(58, 111, 172);
}
